#item-section {
  margin-top: 30px;
}
.container img {
  width: 100%;
  border-radius: 14px 14px 40px 0px;
}
.items {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  padding: 10px;
}
.items:hover {
  transform: scale(1.05, 1.05);
}
.item__info {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.item__info h3 {
  color: rgb(91, 213, 255);
}
.item__info p {
  color: rgb(113, 201, 204);
  font-weight: bold;
}
.item__info .btn {
  background-image: linear-gradient(
    to right top,
    #81e7e7,
    #70e6e8,
    #5de5e9,
    #43e4ea,
    #12e3eb
  );
  /* border-radius: 10px; */
  padding: 5px 19px;
  font-weight: bold;
  color: rgb(86, 105, 141);
}
